@using WireguardClientBlazor.Data
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<div class="row">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <div>
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => OpenDrawer(Anchor.Start))"/>
            <MudSpacer/>
            <MudIconButton Icon="@Icons.Filled.Brightness4" Color="Color.Inherit" OnClick="@((e) => DarkMode())"/>
            <MudIconButton Icon="@Icons.Filled.Code" Color="Color.Inherit" OnClick="@((e) => _navigationManager.NavigateTo("https://gitlab.com/abukaff/wireguardclientblazor"))"/>
        </MudAppBar>
    </div>
    <MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Wireguard GUI</MudText>
        </MudDrawerHeader>
        @if (GlobalVariables.bRequirementsSatisfied)
        {
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All">Nothing to see here yet :)</MudNavLink>
            </MudNavMenu>
        }
    </MudDrawer>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>

</div>

<MudThemeProvider Theme="currentTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code
{
    MudTheme lightTheme = new MudTheme();
    MudTheme currentTheme = new MudTheme();

    protected override void OnInitialized()
    {
        currentTheme = darkTheme;
    }

    void DarkMode()
    {
        if (currentTheme == lightTheme)
        {
            currentTheme = darkTheme;
        }
        else
        {
            currentTheme = lightTheme;
        }
    }

    bool open;
    Anchor anchor;

    void OpenDrawer(Anchor anchor)
    {
        open = true;
        this.anchor = anchor;
    }

    MudTheme darkTheme = new MudTheme()
    {
        Palette = new Palette()
        {
            Black = "#27272f",
            Background = "#212227",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            DrawerIcon = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            Divider = "rgba(255,255,255, 0.12)",
            DividerLight = "rgba(255,255,255, 0.06)",
            TableLines = "rgba(255,255,255, 0.12)",
            LinesDefault = "rgba(255,255,255, 0.12)",
            LinesInputs = "rgba(255,255,255, 0.3)",
            TextDisabled = "rgba(255,255,255, 0.2)"
        }
    };
}