@inject IDialogService _dialogService
<MudDialog DisableSidePadding="true" Style="width: 60vw;height: fit-content">
    <DialogContent>
        <MudCard Style="margin: 1%" Elevation="5">
            <MudCardContent>
                <div style="margin-left: auto;margin-right: auto;">
                    @message
                </div>
                <div>
                    <table style="margin-left: auto;margin-right: auto;margin-top: 10px">
                        <tr>
                            <td>
                                <MudButton Variant="Variant.Filled" Style="float: right" Color="Color.Secondary" OnClick="@(_ => OnClick(true))">Yes</MudButton>
                            </td>
                            <td>
                                <MudButton Variant="Variant.Filled" Style="float: left" Color="Color.Default" OnClick="@(_ => OnClick(false))">No</MudButton>
                            </td>
                        </tr>
                    </table>
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {

    [Parameter]
    public string message { set; get; }

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    bool bConfirm = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (string.IsNullOrEmpty(message))
            message = "Are you sure ?";
    }

    void OnClick(bool confirm)
    {
        DialogResult res = DialogResult.Ok(confirm);
        MudDialog.Close(res);
    }

}