@using WireguardClientBlazor.Data
<MudDialog Style="height: 80vh;width: 80vw">
    <DialogContent>
        <div>
            <MudCard Style="height: fit-content" Elevation="5">
                <MudCardContent>
                    <div style="margin-bottom: 2px">
                        <MudButton OnClick="RefreshLog" Variant="Variant.Filled" Color="Color.Primary">Refresh</MudButton>
                    </div>
                    <MudTextField Variant="Variant.Outlined" Lines="20" Value="@MyLogs.Logs" ReadOnly="true" Style="height: 100%;width: 100%"></MudTextField>
                </MudCardContent>
            </MudCard>
        </div>
    </DialogContent>
</MudDialog>

@code {

    void RefreshLog()
    {
        StateHasChanged();
    }

}