@page "/missing"
@using WireguardClientBlazor.Data

<MudCard Style="margin: auto">
    <MudCardContent Style="margin: 2%">
        <MudTable Items="@_requirements" Hover="true" Breakpoint="Breakpoint.Sm"
                  T="Requirement"  FixedHeader="true"
                  Height="65vh">
            <HeaderContent>
                <MudTh>Requirement</MudTh>
                <MudTh>Status</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Status">
                    @if (context.Status)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Title="Status" Color="Color.Success"/>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Error" Title="Status" Color="Color.Error"/>
                    }
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCardContent>
</MudCard>

@code {

    List<Requirement> _requirements = new List<Requirement>();

    protected override void OnInitialized()
    {
        Requirement sudo = new Requirement { Name = "running as root", Status = GlobalVariables.CheckRequirementSudo() };
        Requirement ifconfig = new Requirement { Name = "ifconfig", Status = GlobalVariables.CheckRequirementIFConfig() };
        Requirement wg = new Requirement { Name = "wg-quick", Status = GlobalVariables.CheckRequirementWG() };
        _requirements.Add(sudo);
        _requirements.Add(ifconfig);
        _requirements.Add(wg);

        base.OnInitialized();
    }

    public class Requirement
    {
        public string Name;
        public bool Status;
    }

}