@using WireguardClientBlazor.Data
@inject IDialogService _dialogService
<MudDialog DisableSidePadding="true" Style="width: 60vw;height: fit-content">
    <DialogContent>
        <MudCard Style="margin: 2%" Elevation="5">
            <MudCardContent>
                <div>
                    <MudTextField @bind-Value="name" Label="Name without '.conf'" Variant="Variant.Text" ReadOnly="bIsEdit"></MudTextField>
                    <MudTextField @bind-Value="config" Label="Configuration" Variant="Variant.Outlined" Lines="10"></MudTextField>

                    <MudStack Row="true" Spacing="1" Style="margin-top: 5px">
                        <MudButton OnClick="SaveConfig" Variant="Variant.Filled" Color="Color.Secondary">Save</MudButton>
                        <MudButton OnClick="@(_=>MudDialog.Close())" Variant="Variant.Filled" Color="Color.Primary">Cancel</MudButton>
                    </MudStack>

                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public WGConfigEntry WgConfigEntry { set; get; }

    string name = "";
    string config = "";
    bool bIsEdit = false;

    protected override async Task OnInitializedAsync()
    {
        if (WgConfigEntry != null)
        {
            bIsEdit = true;
            name = WgConfigEntry.Name;
            config = GlobalVariables.GetConfigurationFromFile(WgConfigEntry.Path);
        }
        StateHasChanged();
    }

    async Task SaveConfig()
    {
        bool isSucess = false;
        if (!string.IsNullOrEmpty(name))
        {
            isSucess = GlobalVariables.UpdateConfiguration(name, config);
        }
        if (isSucess)
            MudDialog.Close(null);
    }

}